.card__like {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 40px;
  background-image: url(../../../images/card__like.png);
  background-repeat: no-repeat;
  object-fit: fill;
  width: 20px;
  height: 19px;
}

.card__like:hover {
  opacity: 0.5;
  transition: .2s;
}